.icon {
  width: 24px;
  height: 24px;
}


[data-mantine-color-scheme='dark'] .dark {
  display: none;
}

[data-mantine-color-scheme='light'] .dark {
  display: block;
}



[data-mantine-color-scheme='light'] .light {
  display: none;
}

[data-mantine-color-scheme='dark'] .light {
  display: block;
}